.contentDiv{
    padding-bottom: 10px;
}

.headerBtn{
    color: black;
    text-decoration: none;
    border: 2px solid transparent;
    border-radius: 30px;
    font-weight: bold;
    transition: .4s;
    text-align: center;
    font-family: sans-serif;
    width: 100%;
    height: 50px;
}

.SSH{
    background: #7ca877;
}

.DD{
    background: #DB8E72;
}

.MM{
    background: #ffcc74;
   
}
.SS{
    background: #95cdf0;
}
.OR{
    background-color: #a9a9a9;
}

.headerBtn:hover{
    transform: scale(1.03);
    background: #161922;
    border-radius: 30px;
    transition: .4s;
    cursor: pointer;
}
.SSH:hover{
    border: 2px solid  #7ca877;
    color:  #7ca877;
}

.DD:hover{
    border: 2px solid #DB8E72;
    color: #DB8E72;
}

.MM:hover{
    border: 2px solid #ffcc74;
    color: #ffcc74;
}
.SS:hover{
    border: 2px solid #95cdf0;
    color: #95cdf0;
}
.OR:hover{
    border: 2px solid #a9a9a9;
    color: #a9a9a9;
}
