.atlasEntryContainer{
    flex: 1;
    padding-bottom: 10px;
}

.atlasVisual{
    float: left;
}

.general{
    font-family: sans-serif;
    font-weight:bold;
    text-decoration: none;
    border: 2px solid transparent;
    border-radius: 30px;
    height: 30px;
}
.h1Regions{
    background-color: #7ca877;
}

.h2Regions{
    background-color: #DB8E72;
}

.h3Regions{
    background-color: #ffcc74;
}
.h4Regions{
    background-color: #95cdf0;
}
.h5Regions{
    background-color: #a9a9a9;
}

.activeRegion{
    font-family: sans-serif;
    font-weight:bold;
    text-decoration: none;
    background-color:bisque;
    border: 2px solid transparent;
    border-radius: 30px;
    height: 30px;
}


@media screen and (max-width: 1200px) {
    .atlasVisual{
        font-size: clamp(0.55rem, 1.5vw, 1rem);
    }
}