.description-body-p{
    max-width: 500px;
    min-width: 300px;
}


.photos {
  /* Prevent vertical gaps */
  display:grid;
  grid-template-columns: auto auto;
}

.photos img {
  width: 100%;
  box-sizing: border-box;
  padding:5px;
}